body {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: sans-serif;
  overflow: auto;
}

main {
  position: center;
  top: 50px; /* Set this to the height of the header */
  bottom: 50px; /* Set this to the height of the footer */
  right: 0;
  overflow: auto;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 1100px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
}

img.rounded-corners {
  border-radius: 7px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 10px;
  font-size: "1.25rem";
  height: 50px;
  overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
  margin-inline: 6rem;
}

.header-logo {
  vertical-align: top;
  text-align: center;
}

#logo a {
  color: #991b1b;
  text-decoration: none;
}

#logo img {
  float: center;
  width: 6%;
}

#logo {
  display: inline-block;
  color: #991b1b;
  text-decoration: none;
  text-align: center;
}

#center-header {
  text-align: center;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #f3f4f6;
}

.footer-logo {
  text-align: left;
  padding-left: 100px;
  background: lightgrey;
}

#footer-logo a {
  color: #991b1b;
  text-decoration: none;
}

#footer-logo img {
  float: left;
  width: 6%;
}

#footer-logo {
  display: inline-block;
  color: #991b1b;
  text-decoration: none;
  text-align: left;
}

#button {
  background-color: #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}

#social {
  position: absolute;
  top: 50px; /* Set this to the height of the header */
  bottom: 50px; /* Set this to the height of the footer */
  left: 0;
  height: 70px;
  width: 50px;
  overflow: hidden; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
  background: white;
}

#social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social ul a {
  color: black;
  text-decoration: none;
}

#rights {
  color: #555;
}

#menu {
  float: left;
  height: 100%;
  margin: none;
}

#menu ul {
  text-align: left;
  float: left;
  margin: none;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
  padding: none;
  margin: none;
}

#menu li a,
#menu li span {
  display: inline-block;
  padding: 0 2px;
  text-decoration: none;
  font-weight: 300;
  text-transform: none;
  line-height: 60px;
}

#menu li a {
  color: rgb(0, 0, 0);
}

#menu li:hover a,
#menu li span {
  background: rgb(226, 224, 224);
  border-left: 1px solid #fff;
  text-decoration: none;
}

#contact {
  line-height: 60px;
}

#contact a {
  color: #841617;
  text-decoration: none;
}

#welcome img {
  width: 20rem;
  float: right;
}

#welcome p {
  padding: 1rem 1rem 1rem 1rem;
  font-size: 32px;
  block-size: 13rem;
  line-height: "4rem";
}

#about {
  height: 480px;
}

#about h2 {
  text-align: center;
}
#about img {
  width: 20rem;
  float: left;
}

#about p {
  text-align: left;
  padding-left: 21rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation button {
  width: 10rem;
  background: #841617;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 24px;
  font-size: 14px;
}
.navigation h4 {
  margin-block-end: 1em;
  width: 180px;
}
.navigation > div {
  text-align: center;
  align-items: baseline;
  margin: 1rem 4rem 1rem 4rem;
  padding: 0.5rem;
  font-size: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
}
.product p {
  font-size: 14px;
  margin-top: 23px;
}
.product button {
  float: right;
  background: #841617;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
  padding: 5px 24px;
  margin-top: 18px;
}
#products h2 {
  text-align: center;
}
.button-center {
  text-align: center;
  margin-bottom: 20px;
}
.button-center button {
  width: 10rem;
  background: #841617;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 24px;
  font-size: 16px;
}
#test {
  padding-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.testimonials {
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  margin-inline: 0.5rem;
  border: 1px solid #e5e7eb;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
}
.testimonials-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: "row";
  align-items: center;
}

.testimonials-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.testimonials-header-name,
.testimonials-header-location {
  margin: 0;
}

.testimonials-header-location {
  color: #7b7280;
  font-size: 0.9rem;
}

.circle {
  display: flex;
  border-radius: 100%;
  background-color: blue;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
}
.circle p {
  color: #fff;
  text-align: center;
  vertical-align: center;
  margin-top: 0.625rem;
}
